<mat-toolbar color="primary">
  <span>Card view</span>
</mat-toolbar>

<!-- <nav class="navbar">
  <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Enter Name to search">
</nav> -->

<div class="content" style="max-width: 960px; margin: 0 auto">
  <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px">
    <mat-card
      class="mat-elevation-z4"
      *ngFor="let user of users"
      matSort
      (matSortChange)="sortData($event)"
    >
      <img
        mat-card-image
        src="/assets/img/{{ user.profile }}"
        style="height: 200px"
      />
      <mat-card-header mat-sort-header="name">
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle
          >{{ user.email }},<br />{{ user.phone }}</mat-card-subtitle
        >
      </mat-card-header>
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    </mat-card>
  </div>
</div>
