<mat-toolbar color="primary">
  <span>Card view</span>
</mat-toolbar>

<!-- Search Bar -->

<ng-container *ngFor="let user of users">
  <div class="course-container"></div>
</ng-container>

<div class="search-container">
  <span>Search : </span>
  <input type="text" [(ngModel)]="searchText" />
</div>
<select [(ngModel)]="filterField">
  <option value="all">All</option>
  <option value="name">Name</option>
  <option value="email">Email</option>
  <option value="phone">Phone</option>
</select>

<div class="content" style="max-width: 960px; margin: 0 auto">
  <div (searchTextChanged)="onSearchTextEntered($event)"></div>

  <!-- Sorting -->

  <!-- <a class="link" (click)="sortedcolumn = 'name'" Sorting></a> -->
  <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px">
    <ng-container *ngFor="let user of users | sort: 'name'">
      <mat-card
        class="mat-elevation-z4"
        *ngIf="
          searchText === '' ||
          user.email?.toLowerCase()?.includes(searchText.toLowerCase()) ||
          user.name?.toLowerCase()?.includes(searchText.toLowerCase())
        "
      >
        <img
          mat-card-image
          src="/assets/img/{{ user.profile }}"
          style="height: 200px"
        />
        <mat-card-header mat-sort-header="name">
          <mat-card-title
            *ngIf="filterField === 'all' || filterField === 'name'"
            >{{ user.name }}</mat-card-title
          >
          <mat-card-subtitle
            ><span *ngIf="filterField === 'all' || filterField === 'email'">{{
              user.email
            }}</span
            >,<br /><span
              *ngIf="filterField === 'all' || filterField === 'phone'"
              >{{ user.phone }}</span
            ></mat-card-subtitle
          >
        </mat-card-header>

        <!-- Delete Operation -->
        <button class="btn btn-sm btn-danger" (click)="openDelete(user)">
          <i class="fa fa-remove"></i>Delete
        </button>
      </mat-card>
    </ng-container>
  </div>
  <!-- From getbootstrap.com pagination -->
  <div aria-label="Page navigation example" class="mt-2">
    <ul class="pagination">
      <!-- <li class="page-item">
        <a class="page-link">First</a>
      </li> -->
      <li class="page-item">
        <a class="page-link" (click)="goPrevious()">Previous</a>
      </li>
      <input
        type="number"
        [ngModel]="pageNo"
        (ngModelChange)="setPageNo($event)"
      />
      <li class="page-item">
        <a class="page-link" (click)="goNext()">Next</a>
      </li>
      <!-- <li class="page-item">
        <a class="page-link">Last</a>
      </li> -->
    </ul>
  </div>
</div>

<!-- Delete Operation from https://www.munonye.com/complete-crud-operation-with-angular-9-step-by-step-part-6/#t3-->
